#card {
    margin: 8%;
    position: absolute;
    height: auto;
    width: 350px;
    border-radius: 10px;
    background-color: white;
    background-image: url("https://i.imgur.com/qzRnXKM.png"); /* Hình nền sinh nhật */
    background-size: cover;
    box-shadow: 0px 0px 20px #ffa500;
    transform: rotate(0deg);
    top: 0px;
    opacity: 0;
    left: -200%;
}

.honey {
    margin: auto;
    padding: 5%;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 #ffa500;
    width: 80%;
    height: auto;
    object-fit: contain;
}

h4 {
    text-align: center;
    color: #ff1493;
    font-family: 'Comic Sans MS', cursive;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-show{
    opacity: 1 !important;
    left: 0 !important;
    transition: all 2s;
}
